.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

.mNeoburgerLogo {
	cursor: pointer;
	width: 32px;
}

.headerContent {
	display: flex;
	align-items: center;
	padding: 10px 121px 10px 102px;
}

.boxShadow {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
}

.topTip {
	background: #0f0f21;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.airdropText {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	color: #ffffff;
	margin: 0 12px;
}

.claimBtn {
	padding: 3px 18px;
	border: 2px solid #ffc13e;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.004px;
	color: #ffc13e;
	cursor: pointer;
}

.white {
	color: #ffffff !important;
}

.black {
	color: #242424 !important;
}

.headerLink {
	margin-left: auto;
}

.pageLink {
	margin-left: 40px;
}

.linkFont {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

.languageBtn {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	line-height: 17px;
	padding: 0 8px;
}

.walletBtn {
	margin: 0 22px 0 40px;
}

.bolder {
	font-weight: bold;
}

.menu {
	display: none;
}

.languageSwitch {
	white-space: nowrap;
}
