.wrapper {
    width: 100%;
    display: inline-block;
    min-height: 100vh;
    margin-bottom: -135px;
}

.introWrapper {
    margin: 250px auto 0;
    width: 950px;
    background: #FBF9F6;
    border-radius: 24px;
    padding: 32px;
    display: flex;
}

.articleWrapper {
    width: 580px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.flag {
    position: relative;
    bottom: -44px;
}

.voteWrapper {
    padding: 16px 32px;
    width: 950px;
    background: #FBF9F6;
    border-radius: 12px;
    display: flex;
    margin: 40px auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2625px;
    color: #000000;
}

.twitterBtn {
    background: #55ACEE;
    border-radius: 2px;
    border: 0;
    padding: 1px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 6px;
    margin-left: 10px;
}

.btnIcon {
    height: 16px;
    width: 16px;
}

.btnText {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 8px;
}

.introUl >li {
    list-style: '· ';
    margin-left: 10px;
}

.proposalWrapper {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    padding: 16px;
    width: 950px;
    margin: 0 auto 150px;
}

.proposalHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 24px;
}

.proposalModalTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 32px;
}

.proposalHeaderBtn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
}

.proposalHeaderBtn:hover {
    color:rgba(85, 172, 238, 0.6);
}

.proposalHeaderBtnIcon {
    font-size: 20px;
}

.proposalHeaderBtnText {
    margin-right: 8px;
}

.mask {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    animation: open 0.3s 1;
}

@keyframes open
{
    0% {
        bottom:-5.5rem;
        background: rgba(0, 0, 0, 0);
    }
    100% {
        bottom:0;
        background: rgba(0, 0, 0, 0.6);
    }
}

.hide {
    display: none;
}

.proposalModalWrapper {
    background: #FFFFFF;
    border-radius: 24px;
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 21px 24px;
}

.proposalTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.closeBtnImg {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.proposalSubTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin: 24px 0 16px;
    display: flex;
    align-items: center;
}

.proposalSubTitle2 {
    width: 60px;
}

.proposalSubTitle3 {
    width: 70px;
}

.colorRed {
    color: #F76854;
    width: 10px;
}

.operateBtn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.inputType {
    background: #E4E4E430;
    border-radius: 8px;
    padding: 18px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border-style: none;
    resize: none;
    margin-left: 16px;
    width: 180px;
}

.inputStyle {
    background: #E4E4E430;
    border-radius: 8px;
    padding: 18px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border-style: none;
    width: 100%;
    resize: none;
}

.inputStyle::-webkit-input-placeholder,
.inputStyle2::-webkit-input-placeholder,
.inputType::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: rgba(17, 20, 45, 0.4);
}
.inputStyle:-moz-placeholder,
.inputStyle2::-webkit-input-placeholder,
.inputType::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: rgba(17, 20, 45, 0.4);
}
.inputStyle::-moz-placeholder,
.inputStyle2::-webkit-input-placeholder,
.inputType::-webkit-input-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: rgba(17, 20, 45, 0.4);
}
.inputStyle:-ms-input-placeholder,
.inputStyle2::-webkit-input-placeholder,
.inputType::-webkit-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: rgba(17, 20, 45, 0.4);
}

.inputStyle2 {
    background: #E4E4E430;
    border-radius: 8px;
    padding: 18px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border-style: none;
    margin-left: 16px;
    flex: 1;
    resize: none;
}

.modalBtnWrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.modalBtnCancel {
    background: #242424;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.004px;
    color: #FFFFFF;
    margin-right: 24px;
    padding: 20px 90px;
    border: none;
    cursor: pointer;
}

.modalBtnSubmit {
    background: #FFC13D;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.004px;
    color: #000000;
    margin-right: 24px;
    padding: 20px 90px;
    border: none;
    cursor: pointer;
}

.proposalListWrapper {
    max-height: 500px;
    overflow: auto;
}

.proposalItem {
    background: #FFFFFF;
    border: 1px solid #FFC13D;
    border-radius: 12px;
    padding: 16px;
    position: relative;
    margin-top: 16px;
}

.proposalItemHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.proposalItemName {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: inline-block;
}

.proposalItemName:hover {
    color:rgba(85, 172, 238, 0.6);
    cursor: pointer;
}

.proposalItemStatus {
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px;
    margin-left: 8px;
}

.labelActive {
    background: rgba(85, 172, 238, 0.1);
    border: 1px solid rgba(85, 172, 238, 1);
    color: rgba(85, 172, 238, 1);
}

.labelFailed {
    background: rgba(223, 50, 26, 0.1);
    border: 1px solid rgba(223, 50, 26, 0.8);
    color: #DF321A;
}

.labelExecuted {
    background: rgba(0, 229, 153, 0.1);
    border: 1px solid rgba(0, 229, 153, 0.8);
    color: #00E599;
}

.labelFor {
    background: rgba(255, 216, 134, 0.1);
    border: 1px solid rgba(255, 193, 61, 0.8);
    color: #FFC13D;
}

.labelAgainst {
    background: rgba(116, 107, 232, 0.1);
    border: 1px solid rgba(116, 107, 232, 1);
    color: rgba(116, 107, 232, 1);
}

.labelUnvoted {
    background: rgb(240, 240, 240, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.proposalItemContent {
    padding-right: 60px;
}

.proposalItemIcon {
    width: 45px;
    margin-left: 16px;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 23px;
}

.proposalItemVote {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.proposalItemVoteVs {
    margin: 0 16px;
    width: 540px;
    height: 10px;
    background: #746BE8;
    border-radius: 6px;
    position: relative;
}

.proposalItemVoteFor {
    position: absolute;
    background: #FFBD31;
    border-radius: 6px 0px 0px 6px;
    left: -1px;
    top: 0;
    height: 10px;
}

.proposalItemVoteWrapper {
    display: flex;
    align-items: center;
}

.proposalTable {
    display: flex;
}

.proposalTableItem:nth-child(1) {
    width: 110px;
}

.proposalTableItem:nth-child(2) {
    width: 100px;
}

.proposalTableItem:nth-child(3) {
    width: 165px;
}

.proposalTableItem:nth-child(4) {
    width: 165px;
}

.proposalTableItem > div:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 16px;
}

.proposalTableItem > div:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 16px;
}

.vsWrapper {
    flex: 1;
    margin-right: 40px;
}

.moreText {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    margin: 40px auto 24px;
    text-align: center;
    cursor: pointer;
}

.moreText:hover {
    color:rgba(85, 172, 238, 0.6);
}

.forBtn {
    background: #FFC13D;
    border-radius: 6px;
    width: 132px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: none;
    padding: 6px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.againstBtn {
    background: #746BE8;
    border-radius: 6px;
    width: 132px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    border: none;
    padding: 6px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposalItemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proposalItemVoteVsGray {
    height: 10px;
    background: rgba(0, 0, 0, 0.08);;
    border-radius: 6px;
    position: relative;
    margin-top: 6px;
}

.proposalItemVoteForYellow {
    height: 10px;
    background: #FFBD31;
    border-radius: 6px;
    position: relative;
}

.proposalItemVoteForPurple {
    height: 10px;
    background: #746BE8;
    border-radius: 6px;
    position: relative;
}

.marginBottom16 {
    margin-bottom: 16px;
}

.marginRight48 {
    margin-right: 48px;
}

.active {
    color: rgba(85, 172, 238, 1) !important;
}

.failed {
    color: #DF321A !important;
}

.executed {
    color: rgba(0, 229, 153, 0.8) !important;
}

.for {
    color: #FFC13D !important;
}

.against {
    color: #746BE8 !important;
}

.unvoted {
    color: rgba(0, 0, 0, 0.4) !important;
}

.disabled {
    background: #F0F0F0;
    color: rgba(0, 0, 0, 0.4);
    cursor: not-allowed;
}

.marginRight5 {
    margin-right: 5px;
}