.main {
	overflow: hidden;
	position: relative;
	padding: 0 25px;
}

.topSection {
	margin-top: 186px;
	display: flex;
	justify-content: center;
}

.introLogo {
	margin-left: 25px;
	width: 570px;
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 81px;
	color: #ffffff;
	margin-bottom: 32px;
}

.introduction {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 64px;
	min-width: 345px;
}

.bubbleWrap {
	width: 440px;
	background: #ffcd65;
	box-shadow: 0px 4px 40px rgba(229, 163, 24, 0.15);
	border-radius: 12px;
	padding: 40px;
	display: flex;
}

.bubbleTitle {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: 15px;
}

.totalPrice {
	margin-top: 5px;
	font-size: 14px;
	color: #ffffff;
}

.bubbleContent {
	width: 230px;
}

.bubbleText {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}

.operateWrap {
	display: flex;
	justify-content: center;
	margin-top: 160px;
}

.section {
	margin-top: 160px;
}

.sectionTitle {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #000000;
	margin-bottom: 80px;
}

.sectionCard {
	display: flex;
	justify-content: center;
}

.sectionContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 430px;
}

.sectionContentMiddle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 522px;
}

.sectionText {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.7);
}

.sectionTextCenter {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.7);
	margin: 0 auto;
	max-width: 720px;
	height: 95px;
	text-align: center;
}

.sectionStrongText {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.sectionMiniStrongText {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.sectionMiniStrongTextCenter {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	display: block;
	margin-top: 24px;
	margin-bottom: 40px;
	text-align: center;
}

.textAlignCenter {
	text-align: center;
}

.jumpText {
	text-decoration: underline;
	color: #ffc13e;
	cursor: pointer;
}

.maxWidth522 {
	max-width: 522px;
}

.marginRight150 {
	margin-right: 150px;
}

.marginLeft200 {
	margin-left: 200px;
}

.width160 {
	width: 160px;
}

.width385 {
	width: 385px;
}

.topBackground {
	display: inline-block;
	position: relative;
	width: 100%;
	background-color: #ffc13e;
}

.introLogo {
	display: none;
}

.topSection {
	margin-top: 136px;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 46px;
	line-height: 69px;
	text-align: center;
	margin-bottom: 16px;
}

.introduction {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	margin-bottom: 24px;
}

.bubbleWrap {
	width: 240px;
	padding: 24px;
	margin: 0 auto 24px;
}

.bubbleContent {
	width: 100%;
}

.bubbleTitle {
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 12px;
}

.totalPrice {
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

.bubbleText {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.mBackground {
	width: 100%;
	padding: 0 5px;
}

.operateWrap {
	margin-top: 100px;
	flex-direction: column;
}

.switchBtnWrap {
	padding: 8px;
	background: #f8f8f9;
	border-radius: 32px;
	display: flex;
	margin-bottom: 24px;
}

.switchBtn {
	flex: 1;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding: 14px 0;
	width: 155px;
	cursor: pointer;
	text-align: center;
}

.switchBtn:nth-child(1) {
	margin-right: 10px;
}

.switchBtnSelected {
	background: #ffc13e;
	border-radius: 24px;
	color: #ffffff;
}

.section {
	margin-top: 120px;
}

.hideInMobile {
	display: none;
}

.sectionCard {
	flex-direction: column;
	align-items: center;
}

.sectionTitle {
	font-size: 32px;
	line-height: 48px;
	margin: 0;
}

.lineHeight40 {
	line-height: 40px;
}

.sectionContent {
	margin: 0;
}

.sectionImgWrapperM {
	margin: 48px 0;
}

.sectionStrongText {
	margin-bottom: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #000000;
}

.sectionMiniStrongText1 {
	font-size: 14px;
	line-height: 21px;
	display: block;
	text-align: center;
}

.sectionText {
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

.marginBottom24 {
	margin-bottom: 24px;
}

.width205 {
	width: 205px;
}

.width240 {
	width: 240px;
}

.marginBottom50 {
	margin-bottom: 50px;
}

.howTitle {
	width: 235px;
}

.sectionImgWrapperPC {
	display: none;
}

.sectionTextCenter {
	height: auto;
	margin-bottom: 24px;
}

.sectionMiniStrongTextCenter {
	margin: 0;
}

.sectionCardMobile {
	position: relative;
	padding-bottom: 120px;
	height: 270px;
}

.howTitle {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #000000;
	width: 100%;
	padding-right: 90px;
	margin-bottom: 48px;
}

.howText {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	padding-right: 140px;
	display: block;
	width: 100%;
}

.howImage {
	width: 140px;
	position: absolute;
	top: 0;
	right: 0;
}
