.main {
	overflow: hidden;
	position: relative;
	padding: 0 25px;
}

.topSection {
	margin-top: 186px;
	display: flex;
	justify-content: center;
}

.introLogo {
	margin-left: 25px;
	width: 570px;
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 81px;
	color: #ffffff;
	margin-bottom: 32px;
}

.introduction {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 64px;
	min-width: 345px;
}

.bubbleWrap {
	width: 440px;
	background: #ffcd65;
	box-shadow: 0px 4px 40px rgba(229, 163, 24, 0.15);
	border-radius: 12px;
	padding: 40px;
	display: flex;
}

.bubbleTitle {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: 15px;
}

.totalPrice {
	margin-top: 5px;
	font-size: 14px;
	color: #ffffff;
}

.bubbleContent {
	width: 230px;
}

.bubbleText {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}

.operateWrap {
	display: flex;
	justify-content: center;
	margin-top: 160px;
}

.section {
	margin-top: 160px;
}

.sectionTitle {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #000000;
	margin-bottom: 80px;
}

.sectionCard {
	display: flex;
	justify-content: center;
}

.sectionContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 430px;
}

.sectionContentMiddle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 522px;
}

.sectionText {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.7);
}

.sectionTextCenter {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.7);
	margin: 0 auto;
	max-width: 720px;
	height: 95px;
	text-align: center;
}

.sectionStrongText {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.sectionMiniStrongText {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.sectionMiniStrongTextCenter {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	display: block;
	margin-top: 24px;
	margin-bottom: 40px;
	text-align: center;
}

.textAlignCenter {
	text-align: center;
}

.jumpText {
	text-decoration: underline;
	color: #ffc13e;
	cursor: pointer;
}

.maxWidth522 {
	max-width: 522px;
}

.marginRight150 {
	margin-right: 150px;
}

.marginLeft200 {
	margin-left: 200px;
}

.width160 {
	width: 160px;
}

.width385 {
	width: 385px;
}

.topBackground {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 525px;
	background-color: #ffc13e;
}

.mBackground {
	display: none;
}

.switchBtnWrap {
	display: none;
}

.sectionCardMobile {
	display: none;
}

.sectionImgWrapperM {
	display: none;
}

.hideInPC {
	display: none;
}
