.tabWrapper {
    display: flex;
    align-items: center;
}

.tab {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
    color: #000000;
}

.selected {
    color: #FFC13D;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
}

.hidden {
    visibility: hidden;
    width: 0;
}

.show {
    visibility: visible;
    width: auto;
}

.show:nth-child(1) {
    margin-right: 10px;
}

.show:nth-child(3) {
    margin-left: 10px;
}