.airdropContainer {
    width: 700px;
    margin: 0 auto;
}

.airdropTitle {
    margin: 175px 0 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
    text-align: center;
    color: #000000;
}

.receiveTextWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 80px 0 20px;
}

.receiveText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.072px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-right: 10px;
}

.claimWrapper {
    background-color: #FFFFFF;
    background-image: url('@/resources/images/coinBg.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 600px;
    height: 340px;
    padding: 0 32px 40px 32px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.unconnectWrapper {
    background-color: #FFFFFF;
    background-image: url('@/resources/images/unconnectBg.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 600px;
    height: 340px;
    padding: 0 32px 40px 32px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.unconnectTip {
    margin: 120px auto 0;
    width: 300px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.072px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.amountWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.amountText {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.claimedIcon {
    margin-right: 5px;
    height: 12px;
}

.claimScroll {
    width: 430px;
    height: 160px;
    overflow: auto;
}

.zero {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.claimBtn {
    width: 110px;
    margin-right: 10px;
    padding: 5px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.004px;
    color: #000000;
    background: #FFC13E;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.claimBtn2 {
    position: absolute;
    width: calc(100% - 64px);
    bottom: 48px;
    padding: 21px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.004px;
    color: #000000;
    background: #FFC13E;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}

.connectBtn {
    position: absolute;
    width: calc(100% - 64px);
    bottom: 48px;
    padding: 21px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.004px;
    color: #000000;
    background: #FFC13E;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}

.articleTitle {
    margin: 160px 0 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.articleParagraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.articleParagraphWrapper {
    height: 100px;
}

.card {
    background-image: url('@/resources/images/labelBg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 485px;
    padding: 0 50px;
    margin-top: 35px;
}

.cardHeader {
    display: flex;
    align-items: center;
    margin-top: 62px;
}

.cardTitle {
    margin-right: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
}

.cardDecimals {
    margin-left: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.cardPercentageWrapper {
    margin: 15px 0;
}

.cardPercentage {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 15px;
}

.cardDistribution {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.divider {
    background-color: #695A50;
    height: 1px;
    border: none;
    margin: 14px 0;
}

.divider2 {
    background-color: #695A50;
    height: 1px;
    border: none;
    margin-bottom: 5px;
    width: 75%;
}

.totalText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin: 12px 0 6px;
}

.totalAmount {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    color: #000000;
}

.usageTabWrapper {
    display: flex;
    margin-bottom: 48px;
}

.usageTab {
    margin: 0 48px;
}

.percentage {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin: 40px 0 30px;
    color: #000000;
}

.subTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 30px;
}

.subsubTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.disabledBtn {
    cursor: not-allowed;
    background: rgba(36, 36, 36, 0.2);
    color: #FFFFFF;
}

.marginTop16 {
    margin-top: 16px;
}

.marginTop24 {
    margin-top: 24px;
}

.marginTop35 {
    margin-top: 35px;
}