.wrapper {
    position: relative;
    display: flex;
}

.popover {
    position: absolute;
    padding-bottom: 18px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.text {
    background-color: #FFFFFF;
    padding: 16px 24px;
    box-shadow: 4px 6px 18px 7px rgba(236, 232, 226, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
    max-width: 240px;
}

.arrow {
    position: absolute;
    top: calc(100% - 19px);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #FFFFFF;
}

