.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background-color: transparent;
}

.wrapper {
    position: absolute;
    z-index: 1002;
    right: 0;
    width: 305px;
    height: 100%;
    background: #F7F3EC;
    box-shadow: -8px 4px 20px rgba(113, 87, 31, 0.2);
    padding: 200px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closeBtn {
    position: absolute;
    top: 56px;
    right: 31px;
}

.connectBtn {
    padding: 16px 24px;
    background: #FBFBFB;
    border: 2px solid #EAEFF0;
    box-sizing: border-box;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connectHeader {
    display: flex;
    align-items: center;
}

.walletHeaderName {
    margin-left: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.072px;
    color: #000000;
    mix-blend-mode: normal;
}

.connectInfo {
    padding: 24px;
    background: #FBFBFB;
    border: 2px solid #EAEFF0;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.addressText {
    margin: 12px 0;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.072px;
    color: #323232;
    mix-blend-mode: normal;
    width: 100%;
    word-break: break-all;
}

.copyBtn {
    margin-left: 10px;
}

.disconnectBtn {
    border: 0.75px solid #242424;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #242424;
    background-color: #FFFFFF;
    cursor: pointer;
    align-self: flex-end;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.languageSwitch {
    text-align: center;
}

.languageBtn {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 8px;
    color: #000000;
}

.bolder {
    font-weight: bold;
}

@media screen and (max-height: 600px) {
    .wrapper {
        padding: 140px 32px;
    }
}