.footer {
	margin-top: 70px;
	overflow: hidden;
	width: 100%;
	background-color: #ffffff;
}

.footerMenu {
	display: flex;
	justify-content: space-between;
	padding: 18px 122px;
}

.footerText {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0.5px;
	color: #00af92;
}

.divider {
	color: #eaeff0;
}

.width24 {
	width: 24px;
}

.footerMenu {
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}

.footerMenu > li:nth-child(1) {
	margin-bottom: 24px;
}
