.mask {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    background: rgb(0, 0, 0, 0.6);
}

.modal {
    width: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0 126px;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}

.header {
    position: relative;
    width: 100%;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
}

.status {
    margin: 66px 0 31px;
}

.close {
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.hint {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.004px;
    color: #000000;
    padding: 0 48px;
    text-align: center;
}

.jumpLinkWrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.jumpLink {
    color: #00e18e;
    margin-right: 10px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotate {
    animation: rotation 3s linear infinite;
}

@media screen and (max-width: 900px) {
    .modal {
        width: 327px;
        padding-bottom: 105px;
    }

    .title {
        font-size: 24px;
        line-height: 36px;
    }

    .status {
        width: 120px;
        margin: 48px 0 33px;
    }

    .close {
        right: 30px;
    }
}

@media screen and (max-width: 330px) {
    .modal {
        min-width: 270px;
    }

    .close {
        right: 20px;
    }
}
