.wrap {
	background-color: #ffffff;
	display: inline-block;
	box-shadow: 4px 6px 18px 7px rgba(236, 232, 226, 0.5);
	border-radius: 10px;
	padding: 48px 24px;
	margin-right: 116px;
}

.header {
	position: relative;
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	color: #000000;
	margin-bottom: 40px;
}

.learnMore {
	position: absolute;
	right: 10px;
	top: 20px;
}

.background {
	background: #fbfbfb;
	border: 1px solid #eaeff0;
	border-radius: 4px;
	width: 368px;
	padding: 24px;
	position: relative;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.exchangeRate {
	position: absolute;
	right: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #858585;
}

.hint {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.072px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.8;
}

.tip {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: -0.072px;
	cursor: pointer;
}

.assetWrap {
	display: flex;
	align-items: center;
}

.flexShrink0 {
	flex-shrink: 0;
}

.asset {
	margin-left: 10px;
}

.inputStyle {
	padding: 0;
	border: none;
	background-color: transparent;
	text-align: right;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 21px;
	letter-spacing: -0.12798px;
	color: #000000;
	max-width: 200px;
}

.inputStyle::-webkit-input-placeholder {
	/* WebKit browsers 适配谷歌 */
	color: #bdcada;
}
.inputStyle:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 适配火狐 */
	color: #bdcada;
}
.inputStyle::-moz-placeholder {
	/* Mozilla Firefox 19+ 适配火狐 */
	color: #bdcada;
}
.inputStyle:-ms-input-placeholder {
	/* Internet Explorer 10+  适配ie*/
	color: #bdcada;
}

.exchangeWrap {
	display: flex;
	justify-content: center;
	margin: 16px 0;
}

.imageBtn {
	cursor: pointer;
}

.footerBtn {
	width: 100%;
	padding: 21px 0;
	border: none;
	color: #000000;
	background: #ffc13e;
	border-radius: 12px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.004px;
	cursor: pointer;
}

.disabledBtn {
	cursor: not-allowed;
	background: rgba(36, 36, 36, 0.2);
	color: #ffffff;
}

.btnTip {
	margin: 16px 0;
	width: 368px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: -0.072px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.8;
}

.marginBottom24 {
	margin-bottom: 24px;
}

.marginRight10 {
	margin-right: 10px;
}

.marginTop16 {
	margin-top: 16px;
}

.marginLeft10 {
	margin-left: 10px;
}

.green {
	color: #00e599;
}

.orange {
	color: #ffc13d;
}

.hideInPC {
	display: none;
}
