html,
body {
	padding: 0;
  	margin: 0;
  	font-family: Poppins, Avenlr, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
	background-color: #F7F3EC;
}

a {
  	color: inherit;
  	text-decoration: none;
}

p {
  	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  	margin: 0;
}

ul {
  	padding: 0;
  	margin: 0;
}

hr {
	margin: 0;
}

li {
  	list-style: none;
}

inpur:disabled, input[disabled] {
  	opacity: 1;
}

* {
  	box-sizing: border-box;
}
